<!DOCTYPE html>
<html>
<head>
${require('./common/meta.html')}
</head>
<body>
<div class="index">index</div>
<img src="${require(`./css/images/a.png`)}">
<div id="app">
	{{msg}}
	<ul>
		<li v-for="item in items">{{item.txt}}</li>
	</ul>
	<vselect></vselect>
</div>
</body>
</html>